<?xml version="1.0"?>

<launch>

  <!-- Rename arguments -->
  <node name="m3d_data" type="relay" pkg="topic_tools" args="/cloud_pcd /m3d_outlier/input" />

  <node name="outliered_data" type="relay" pkg="topic_tools" args="/m3d_outlier/output /m3d_voxel/input" />

  <!-- Initiate nodelet manager -->
  <node pkg="nodelet" type="nodelet" name="point_cloud_filter_nodelet"  args="manager"/>

  <!-- Initiate nodelet to filter by radius outlier removal -->
  <node pkg="nodelet" type="nodelet" name="m3d_outlier" args="load pcl/RadiusOutlierRemoval point_cloud_filter_nodelet" />

  <node pkg="nodelet" type="nodelet" name="m3d_voxel" args="load pcl/VoxelGrid point_cloud_filter_nodelet">
  </node >

  <!-- Run rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find filter_point_cloud)/rviz_config/model1.rviz" />

</launch>
