<?xml version="1.0"?>

<launch>

  <!-- Rename arguments -->
  <node name="lidar_relay_outlier" type="relay" pkg="topic_tools" args="/velodyne_points /lidar_outlier/input" />
  <node name="lidar_relay_voxel" type="relay" pkg="topic_tools" args="/velodyne_points /lidar_voxel/input" />
  <node name="lidar_relay_stats" type="relay" pkg="topic_tools" args="/velodyne_points /lidar_stats/input" />
  <!-- <node name="outliered_data" type="relay" pkg="topic_tools" args="/lidar_outlier/output /lidar_voxel/input" /> -->

  <!-- Initiate nodelet manager -->
  <node pkg="nodelet" type="nodelet" name="point_cloud_filter_nodelet"  args="manager"/>

  <!-- Initiate nodelet to filter for each filter type -->
  <node pkg="nodelet" type="nodelet" name="lidar_outlier" args="load pcl/RadiusOutlierRemoval point_cloud_filter_nodelet" />

  <node pkg="nodelet" type="nodelet" name="lidar_stats" args="load pcl/StatisticalOutlierRemoval point_cloud_filter_nodelet" >
      <param name="mean_k" type="int" value="2" />
      <param name="stddev" type="double" value="0.2" />
      <param name="negative" type="bool" value="false" />
  </node>

  <node pkg="nodelet" type="nodelet" name="lidar_voxel" args="load pcl/VoxelGrid point_cloud_filter_nodelet">
      <param name="leaf_size" type="double" value="0.05" />
  </node >

  <!-- Run rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find filter_point_cloud)/rviz_config/model1.rviz" />

</launch>
